/* Estilos gerais do site */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

/* Estilos do formulário */
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  text-align: left;
  width: 100%;
}

input {
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 0.7em;
  background-color: #a3a3a33e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

button:hover {
  background-color: #84848486;
}

.link-menu {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos específicos para o index.html */
.login-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.account-management {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5em;
}

.google-signin-container .g-signin2 {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.login-google {
  margin: 30px 0px 30px 0px;
  color: #ffffff8a;
}

.background-login {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background: #22313f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.background-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000077;
  z-index: 1;
}

#login-form {
  backdrop-filter: blur(20px);
  background: transparent;
  border: 1px solid #ffffff5d;
  background-color: #00000057;
  color: black;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: white;
  opacity: 1;
}

#username,
#password {
  outline: none;
  opacity: 0.9;
  background-color: #0000001f;
  border: 1px solid rgba(255, 255, 255, 0.445);
  color: white;
  transition: 0.2s;
}

#username:focus,
#password:focus {
  border: 1px solid white;
  background-color: #5656561f;
}

/* 'Esqueceu a senha' */
#create-account,
#forgot-password {
  color: white;
}
#create-account:hover,
#forgot-password:hover {
  text-decoration: underline!important;
}

#background-emerges {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}

#box-forgot-password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 340px;
  width: 270px;
  background: transparent;
  border: 1px solid #ffffff5d;
  background-color: #00000057;
  color: black;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#background-emerges.show {
  opacity: 1;
  display: block;
}
#box-forgot-password.show {
  opacity: 1;
}
.delet-move {
  display: flex;
  align-items: center;
  justify-content: end;
}

#close-icon {
  font-size: 20px;
  padding: 10px;
  background-color: #00000036;
  border: 1px solid #ffffff5d;
  color: #ffffff5d;
  border-radius: 20%;
  width: 21px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
#close-icon:hover {
  color: white;
  border: 1px solid white;
  background-color: #5656561f;
}

/* Estilos do menu de navegação (index) */
.menu {
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  margin: 0 auto;
  max-width: 1200px; /* Ajuste a altura conforme necessário */
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
}

.menu-link {
  color: #8b8b8b;
  transition: color 0.3s;
}

.menu-link:hover {
  color: #fafafa;
}

.navbackground {
  background-color: #0c0c0c;
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
}

.butt-new-account {
  background-color: #252525;
  padding: 10px;
  border-radius: 10px;
  color: #8b8b8b;
  transition: 0.2s;
}

.butt-new-account:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

.logo {
  background-color: #ffffffaf;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ícone de olho para mostrar/ocultar senha */
.password-container {
  position: relative;
}

.password-container input {
  padding-right: 2.5em; /* Adiciona espaço para o ícone no lado direito */
}

.password-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Estilos do botão do WhatsApp */
.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  color: white;
  width: auto; /* Ajustado para caber o texto */
  height: 60px; /* buttonSize: 'large' */
  border-radius: 30px; /* Para manter o botão arredondado */
  padding: 0 20px; /* Adiciona espaço ao redor do texto */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 20px; /* buttonPosition: 'right' */
  right: 20px; /* buttonPosition: 'right' */
  margin: 10px; /* buttonMargin: 'true' */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp-button svg {
  width: 22px; /* buttonIconSize: '22' */
  height: 22px; /* buttonIconSize: '22' */
  margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.whatsapp-button:hover {
  background-color: #1da851;
}

/* Estilos para a seção de produtos */
#produtos {
  margin-top: 50px;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.produto-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.produto-item img.profissional-img {
  width: 190px; /* Ajuste o tamanho da imagem aqui */
  height: 190px; /* Ajuste o tamanho da imagem aqui */
  border-radius: 50%;
  margin-bottom: 15px;
}

.produto-item h3 {
  margin-top: 0;
  color: #333;
}

.produto-item p {
  color: #666;
}

.ranking-options {
  margin-top: 15px;
}

.ranking-options label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.ranking-options select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
