body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  text-align: left;
  width: 100%;
}

input {
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 0.7em;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #0056b3;
}

a {
  display: block;
  margin-top: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.login-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.account-management {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.google-signin-container .g-signin2 {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}
.login-google {
  margin: 30px 0px 30px 0px;
}
.background-login {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/ea-sports-fc-24-game.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.background-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000077; /* Escurece apenas a imagem de fundo */
  z-index: 1;
}

#login-form {
  backdrop-filter: blur(20px);
  background: transparent;
  border: 1px solid #ffffff5d;
  background-color: #00000057;
  color: black; /* Texto preto para contraste */
  z-index: 2; /* Garante que o formulário fique acima da camada escura */
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: white;
}
#username, #password {
  outline: none;
  opacity: 0.9;
  background-color: #0000001f;
  border: 1px solid rgba(255, 255, 255, 0.445);
  color: white;
}
#username:hover, #password:hover {

}
